---
const { imgsrc, title, description, href } = Astro.props;
---

<section class="slide">
  <img src={imgsrc} alt="" class="preview" />
  <div class="slide_text">
    <a href={href}>
      <h2>
        {title}
      </h2>
    </a>
    <p>
      {description}
    </p>
  </div>
</section>

<style>
  a {
    color: rgb(88, 177, 255);
  }
  .slide {
    width: 40%;
    border: 1px solid rgba(var(--accent-light), 25%);
    border-radius: 30px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
  }
  .preview {
    width: 50%;
    border-radius: 10px;
  }
  .slide_text {
    padding: 1rem;
  }
  @media (max-width: 790px) {
    .slide {
      flex-direction: column;
    }
  }
  @media (max-width: 675px) {
    .slide {
      width: 60%;
    }
  }
</style>
