---
type Props = {
  header: string;
};
const { header } = Astro.props;

import RunningText from "./RunningText.astro";
---

<div class=`${header} slide`>
  <RunningText string=`${header}` repeatCount={20} />
  <article class="article"><div class="slot"><slot /></div></article>
</div>

<style>
  .slide {
    height: 100vh;
  }
  .article {
    margin: 15%;
  }
  .slot {
  }
  @keyframes runningText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll {
    100% {
      background-position: -3000px 0;
    }
  }
</style>
